h1 Noodle Talk

#message
  if session.email
    form(method='post', action='/message')
      input(type='text', name='message', placeholder='enter your message here')
      button(type='submit') add

ol

iframe(id='ping', src='/ping', style='display: none;')
