!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='https://browserid.org/include.js', type='text/javascript')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')

  body(class='font#{session.userFont}')
    #header
      h1 Noodle Talk

      if session.email
        a(href='/logout') Log out
      else
        a(href='#', id='login') Log in with BrowserID
        form(method='post', action='/login', id='login-form')
          input(type='hidden', name='bid_assertion', value='1')

    != body

    #footer
