/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main styles */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FanwoodRegular';
    src: url('../fonts/Fanwood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoudyBookletter1911Regular';
    src: url('../fonts/goudy_bookletter_1911-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoGothicStdBold';
    src: url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #bac2ac;
    padding: 20px;
    font: 16px Helvetica, Arial, sans-serif;
}

h1 {
    color: #eee;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 1px;
    text-shadow: #939e7e 7px 5px 0px;
    text-transform: uppercase;
}

a {
    color: #2e87c6;
    outline: none;
    text-decoration: none;
}

#header, #message {
    clear: both;
    float: left;
    width: 100%;
}

#header a {
    background-color: #cd9025;
    box-shadow: #ddc256 5px 5px 0px;
    color: #fff;
    display: block;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 15px 8px 5px 8px;
    position: absolute;
    right: 10px;
    top: -10px;
}

ol {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

ol li {
    background-color: #f2f2f2;
    clear: both;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 95%;
}

ol li iframe {
    clear: both;
    display: block;
    float: left;
    margin: 10px;
}

ol li > img {
    height: 45px;
    width: 45px;
}

ol li a.delete {
    display: block;
    font-family: 'BebasNeueRegular', sans-serif;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
}

form button {
    display: none;
}

form input {
    color: #606060;
    font-size: 25px;
    margin: 10px 0px 20px 0px;
    padding: 5px;
    width: 95%;
}

form input , ol li p {
    font-size: 25px;
}

.font1 form input, .font1 ol li p {
    font-family: 'LeagueGothicRegular';
}

.font2 form input, .font2 ol li p {
    font-family: 'FanwoodRegular';
}

.font3 form input, .font3 ol li p {
    font-family: 'CartoGothicStdBold';
}

.font4 form input, .font4 ol li p {
    font-family: 'GoudyBookletter1911Regular';
}

#footer {

}
